<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background: linear-gradient(150deg, rgb(254, 165, 0), rgb(245, 236, 236), rgb(42, 255, 42));
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            color: #333;
        }
    </style>
</head>

<body>
    <h1>You are on home page.</h1>
</body>

</html>